DST_SLACK_WEBHOOK=https://hooks.slack.com/services/UNIQUE/URL
BNF_SLACK_WEBHOOK=https://hooks.slack.com/services/UNIQUE/URL
SGP_SLACK_WEBHOOK=https://hooks.slack.com/services/UNIQUE/URL
OPS_SLACK_WEBHOOK=https://hooks.slack.com/services/UNIQUE/URL
