# Log files
cron.log
logs/*.log

# Alert history
alert_log.json

# Python cache
__pycache__/
*.pyc
*.pyo

# OS and editor files
.DS_Store
*.swp

# Environment files
.env
venv/

configs/*_alert_log.json
configs/*_alert_types.json
