# Python
__pycache__/
*.py[cod]

# virtual environment
venv/

# environment secrets
.env

# runtime state
state/*.json
state/*.active

# logs
cron.log
logs/*.log
logs/*.last_success
logs/*.active

# OS / editor junk
.DS_Store
*.swp
