{
  "Flash Flood Warning": true,
  "Flash Flood Watch": false,
  "Flood Warning": true,
  "Flood Watch": false,
  "Tornado Warning": true,
  "Tornado Watch": false,
  "Severe Thunderstorm Warning": true,
  "Severe Thunderstorm Watch": false,
  "Winter Storm Warning": true,
  "Winter Storm Watch": false,
  "Blizzard Warning": true,
  "Ice Storm Warning": true,
  "Heat Advisory": false,
  "Excessive Heat Watch": false,
  "Air Quality Alert": true,
  "Red Flag Warning": true,
  "Dense Smoke Advisory": false,
  "Extreme Wind Warning": true,
  "High Wind Warning": true,
  "High Wind Watch": false,
  "Snow Squall Warning": true,
  "Special Weather Statement": true,
  "Hazardous Weather Outlook": true,
  "Hurricane Watch": false,
  "Hurricane Warning": true,
  "Tropical Storm Watch": false,
  "Tropical Storm Warning": true,
  "Storm Surge Watch": false,
  "Storm Surge Warning": true,
  "Severe Weather Statement": true,
  "Coastal Flood Advisory": false,
  "Fire Weather Watch": false,
  "Child Abduction Emergency": true,
  "Civil Danger Warning": true,
  "Blue Alert": false
}
